<!DOCTYPE html>
<html>
    <head>
        <title>보낸 메일</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <div class="container" style="text-align:center">
            <h1>보낸 메일</h1>
        </div>
        <hr>
        <% @every_post.each do |p| %>
          제목: <%= p.title %> <br>
            받은 사람: <%= p.person %> <br>
            내용: <%= p.content %>
            <hr>
        <% end %>
        <div class="container" style="text-align:center;">
            <a href='/'><h1>메일 쓰기</h1></a>
        </div>
    </body>
</html>
