<!DOCTYPE html>
<html>
    <head>
        <title>전송 완료</title>
        <meta charset="UTF-8">
    </head>

    <body>
        <h1>전송 완료</h1>
        <%= @title %> <br>
        <%= @person %><br>
        <%= @content %> <br>
    </body>
</html>
